@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700&display=swap');

body {
    background-color: #EEF9BF;
    font-family: 'Roboto';
    font-style: normal;
}

.header {
    height: 140px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header h1 {
    font-weight: 700;
    font-size: 56px;
    line-height: 66px;
    letter-spacing: -0.004em;

    color: #75B79E;
}

.main {
    width: 100%;
    align-items: center;
    justify-content: center;

}

.main ul {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-flow: row wrap;
    gap: 35px;
    padding: 20px;
}

.main li {
    box-sizing: border-box;
    width: 117px;
    height: 146px;
    background: #A7E9AF;
    border: 1px solid #99CEA8;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main li img {
    width: 100px;
    height: 100px;
}

@media (max-width: 767px) {
    .header h1 {
        font-size: 36px;
        line-height: 42px;
        text-align: center;
    }
}